//------------------------------------------------------------------------------
// Nav
//------------------------------------------------------------------------------
$nav-height-xl:4rem;
$nav-height-l:3rem;
$nav-height-m:2rem;
$nav-height-s:1rem;

//------------------------------------------------------------------------------
// Hero
//------------------------------------------------------------------------------
$hero-height-xl: 20rem;
$hero-height-l: 18rem;
$hero-height-m: 16rem;
$hero-height-S: 15rem;
