//------------------------------------------------------------------------------
// size
//------------------------------------------------------------------------------
$hero-height-xl: 20rem;
$hero-height-l: 18rem;
$hero-height-m: 16rem;
$hero-height-S: 15rem;
